@model System.Web.Mvc.HandleErrorInfo

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Error</title>
</head>
<body>
<hgroup>
    <h4>An error occurred while processing your request.</h4>
    <h4>Error detailes: @Model.Exception.Message</h4>
</hgroup>
</body>
</html>